h2{margin: 15px 10px;font-size: 18px;}
ion-col{padding: 0;align-self: flex-start;}
ion-card{padding: 15px;background-color: #fff;margin: 0 0 20px 0;}
ion-card h6{color: #000;margin: 0;display: inline;}
.edit{float:right;color: #DB3022;}
ion-card p{line-height:22px;margin: 15px 0 0 0;}

.card-bg{background-color: #fff;border-radius: 5px;display: inline-block;padding: 7px 16px;box-shadow: 0 2px 8px #ddd;}
.delivery-bg{background-color: #fff;border-radius: 5px;display: inline-block;padding: 10px 10px;box-shadow: 0 2px 8px #ddd;margin: 0 12px 0 0;vertical-align: top;}
.delivery-bg span{display: block;font-size: 12px;text-align: center;color: #9B9B9B;margin-top: 5px;}