<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-row>
      <ion-col size="1">
        <ion-router-link href="tabs/fashion"><ion-icon name="chevron-back"></ion-icon></ion-router-link>
      </ion-col>
      <ion-col size="9">
        <strong>Short Dress</strong>
      </ion-col>
      <ion-col size="2" style="text-align: right;">
        <ion-router-link href="tabs/fashion"><ion-icon name="share-social"></ion-icon></ion-router-link>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-slides [options]="productOptions" class="productslider" pager="true" #slider autoplay="5000">
    <ion-slide>
      <img src="../../assets/product/image.png"/>
    </ion-slide>
    <ion-slide>
      <img src="../../assets/product/image1.png"/>
    </ion-slide>
    <ion-slide>
      <img src="../../assets/product/image2.png"/>
    </ion-slide>
    <ion-slide>
      <img src="../../assets/product/image3.png"/>
    </ion-slide>
  </ion-slides>
  <ion-row>
    <ion-col>
      <ion-select class="size-sheet" value="notifications" value="xs" interface="action-sheet">
        <ion-select-option value="xs">XS</ion-select-option>
        <ion-select-option value="s">S</ion-select-option>
        <ion-select-option value="m">M</ion-select-option>
        <ion-select-option value="l">L</ion-select-option>
        <ion-select-option value="xl">XL</ion-select-option>
      </ion-select>
    </ion-col>
    <ion-col>
      <ion-select class="color-sheet" value="notifications" value="black" interface="action-sheet">
        <ion-select-option value="black">Black</ion-select-option>
        <ion-select-option value="white">White</ion-select-option>
        <ion-select-option value="maroon">Maroon</ion-select-option>
        <ion-select-option value="red">Red</ion-select-option>
      </ion-select>
    </ion-col>
    <ion-col style="text-align: right;">
      <button class="btn-wishlist">
        <ion-icon name="heart-outline"></ion-icon>
      </button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <h2>H&M</h2>
      <span class="short-bio">Short black dress</span>  
    </ion-col>
    <ion-col style="text-align: right;">
      <h2>$19.99</h2>
      <span class="sale">$25</span>
    </ion-col>
  </ion-row>
  <ion-row class="review">
    <ion-icon name="star"></ion-icon>
    <ion-icon name="star"></ion-icon>
    <ion-icon name="star"></ion-icon>
    <ion-icon name="star"></ion-icon>
    <ion-icon name="star-outline"></ion-icon>
    <ion-text>(5)</ion-text>
  </ion-row>
  <p class="description">Short dress in soft cotton jersey with decorative buttons down the front and a wide, frill-trimmed square neckline with concealed elastication. Elasticated seam under the bust and short puff sleeves with a small frill trim.</p>
  <ion-row class="address-area">
    <ion-col size="9">
      <ion-text>Delivery to<strong>John Doe</strong></ion-text>
      <p>A-1003, Silverwoods, Near power h...</p>
    </ion-col>
    <ion-col size="3">
      <ion-router-link href="">Change</ion-router-link>
    </ion-col>
  </ion-row>
  <span class="delivery-message available">Free delivery available</span>
  <div class="menu">
    <div class="border-bottom product-info" (click)="productClick()" [ngClass]="status ? 'open' : 'close'">
      <ion-row>
        <ion-col>
          <ion-text>Product info</ion-text>
        </ion-col>
        <ion-col style="text-align: right;">
          <ion-icon name="chevron-forward"></ion-icon>
        </ion-col>
      </ion-row>
      <div class="specifications">
        <h3>Specifications</h3>
        <ion-row>
          <ion-col size="5">
            <small>Sleeve Length</small>
          </ion-col>
          <ion-col size="7">
            <span>Three-Quarter Sleeves</span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="5">
            <small>Top Shape</small>
          </ion-col>
          <ion-col size="7">
            <span>Straight</span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="5">
            <small>Top Type</small>
          </ion-col>
          <ion-col size="7">
            <span>Kurta</span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="5">
            <small>Bottom Type</small>
          </ion-col>
          <ion-col size="7">
            <span>Palazzos</span>
          </ion-col>
        </ion-row>
      </div>
    </div>
    <div class="border-bottom faq-info" (click)="faqClick()" [ngClass]="value ? 'open' : 'close'">
      <ion-row>
        <ion-col>
          <ion-text>FAQ</ion-text>
        </ion-col>
        <ion-col style="text-align: right;">
          <ion-icon name="chevron-forward"></ion-icon>
        </ion-col>
      </ion-row>
      <div class="faq-details">
        <span>What is Try and Buy Service?</span>
        <p>This service entitles you to try out your purchases at the time of delivery, pay only for what you like and return the rest on-the-spot. Try and Buy is a paid service, available on most of the products and in 31 Cities, you can enter pin code on product page to check service availability. Try and Buy is only available on orders containing &lt;=5 items in cart. To avail this service min. order value should be Rs.1199 and above. To avail the service, please ensure that you tick the 'Try and Buy' box on check-out page and choose delivery address where you are comfortable trying product. Terms of service may differ for our new customers.</p>
        <p>Try and Buy will not be available during big sale days; We will re-offer the service, post such events.</p>
        <span>Why are there different prices for the same product? Is it legal?</span>
        <p>Myntra is an online marketplace platform that enables independent sellers to sell their products to buyers. The prices are solely decided by the sellers, and Myntra does not interfere in the same. There could be a possibility that the same product is sold by different sellers at different prices. Myntra rightfully fulfils all legal compliances of onboarding multiple sellers on its forum as it is a marketplace platform.</p>
        <span>How will I identify a genuine appointment letter?</span>
        <p>Please beware of the fraudulent individuals/agencies that are enticing job seekers by promising them career opportunities at Myntra in lieu of 1.) recruitment fee 2.) processing fee 3.) security deposit 4.) software or equipment charges 5.) on-boarding charges etc. Please be cautious that, Myntra and its recruitment partners never ask for any fee in exchange for an offer letter or interview calls. All offer related communications are sent from an official Myntra email id only.</p>
      </div>
    </div>
  </div>
  <ion-row class="seller-info">
    <strong>Sold By</strong>
    <span>CASUALLY<small class="total-review"><ion-icon name="star"></ion-icon>4</small></span>
  </ion-row>
  <ion-row class="bottom-fix-bar">
    <ion-col>
      <ion-button class="btn-secondary">Buy Now</ion-button>
    </ion-col>
    <ion-col>
      <ion-button class="btn-primary">Add to cart</ion-button>
    </ion-col>
  </ion-row>
</ion-content>