<div class="backdrop">
  <div class="col head">
    <img src="../../assets/app-icon.png" />
    <h1>Login</h1>
    <span>Explore latest products today!</span>
  </div>
  <div class="col">
    <ion-item>
      <ion-label position="stacked">Email Address</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Password</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>
    <ion-button>continue</ion-button>
  </div>
  <img src="../../assets/app-back.png" class="app-bg-icon" />
</div>