<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-row>
      <ion-router-link href="dashboard"><ion-icon name="chevron-back-outline"></ion-icon></ion-router-link>
      <img src="../../assets/logo.png" class="logo" />
      <ion-col></ion-col>
      <ion-icon name="search-outline" class="header-search"></ion-icon>
    </ion-row>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" >
  <h2>Fashion</h2>
  <ion-row>
    <ion-col *ngFor="let subcat of sub_categories">
      <a  [routerLink]="['/product-list/', subcat.id]" >
        <div class="category-box">
          <img [src]="serverUrl+subcat.image">
        </div>
        <span>{{subcat.second_name}}</span>
      </a>
    </ion-col>
  </ion-row>
 

</ion-content>
