h2{margin: 15px 10px;font-size: 18px;}
ion-col{padding: 0;align-self: center;}
h4{font-size: 16px;padding: 0 10px 15px 10px;margin: 0;}
input[type="text"]{width: 100%;padding: 18px 15px;border: none;box-shadow: 0 1px 8px rgb(0 0 0 / 0.10);border-radius: 5px;margin-bottom: 20px;font-size: 14px;color: #aaa;}
.change-btn{width: 100%;border-radius: 5px;background: #fff;padding: 13px 0;text-align: center;color: #000;border: 1px solid #ccc;margin:10px 0 25px 0;}
.toggle-btn{float: right;}
.toggle-btn input + span{position: relative;background: rgb(155 155 155 / 0.10);width: 30px;display: block;height: 17px;border-radius: 50px;}
.toggle-btn input + span:before{content: '';width: 17px;height: 17px;position: absolute;background: #fff;border-radius: 50%;right: 13px;top: 0;box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.10)}
.toggle-btn input[type="radio"]:checked + span:before{background: #2AA952;right: 0;box-shadow: 0 0 8px rgb(42 169 82 / 0.45);}
.toggle-btn input[type="radio"]:checked + span{background: rgb(42 169 82 / 0.45)}
.toggle-btn input{display: none}

.change-pass-popup .backdrop{position: fixed;top: 0;left: 0;width: 100%;height: 100%;background: #00000091;z-index: 99;}
.bg-gray{background-color: #fff;position: fixed;bottom: 0;width: 100%;left:0;border-top-left-radius: 20px;border-top-right-radius: 20px;}
.change-pass-popup h2{text-align: center;}