<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-row>
      <ion-col size="10">
        <ion-router-link href="tabs/browse"><ion-icon name="chevron-back-outline"></ion-icon></ion-router-link>
        <img src="../../assets/logo.png" class="logo" />
      </ion-col>
      <ion-col size="2">
        <ion-router-link href="/tabs/search">
          <ion-icon name="search-outline" class="header-search"></ion-icon>
        </ion-router-link>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <h2>Cart</h2>
  <div class="product-row">
    <ion-row>
      <ion-col size="5">
        <ion-router-link href="/tabs/product-description">
          <div class="col-image" style="background-image: url(../../../assets/product/dress.png);">
            <span class="off-label">20%</span>
          </div>
        </ion-router-link>
      </ion-col>
      <ion-col size="7" style="padding:10px 0;">
        <h3>T-Shirt SPANISH</h3><ion-icon class="popover-btn" (click)="showPopover=!showPopover" name="ellipsis-vertical-outline"></ion-icon>
        <p><span class="product-label">Color:</span><span class="product-label-detail">Black</span>
          <span class="product-label ml-10">Size:</span><span class="product-label-detail">L</span></p>
        <ion-row style="padding-top: 10px;">
          <ion-col size="8">
            <button class="remove-btn" (click)="decrementQty()"><ion-icon name="remove-outline"></ion-icon></button>
            <!-- <span>{{item_qty}}</span> -->
            <span>1</span>
            <button class="add-btn" (click)="incrementQty()"><ion-icon name="add-outline"></ion-icon></button>
          </ion-col>
          <ion-col size="4">
            <span class="price">$140</span>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <div class="popover" *ngIf="showPopover">
      <div class="backdrop-bg" (click)="showPopover=!showPopover"></div>
      <div class="card">
        <span>Add to favorites</span>
        <span>Delete from the list</span>
      </div>
    </div>
  </div>
  <ion-row style="margin:0 15px;position: relative;">
    <input type="text" (click)="showMyContainer=!showMyContainer" placeholder="Enter your promo code"/>
    <div class="button-apply"><ion-icon name="chevron-forward-outline"></ion-icon></div>
  </ion-row>
  <ion-row style="margin:0 15px;">
    <ion-col size="6">
      <span>Total amount:</span>
    </ion-col>
    <ion-col size="6" style="text-align: right;">
      <strong>$124</strong>
    </ion-col>
  </ion-row>
  <div class="change-pass-popup" *ngIf="showMyContainer">
    <div class="backdrop" (click)="showMyContainer=!showMyContainer"></div>
    <div class="bg-gray">
      <ion-row style="margin:0 15px;position: relative;">
        <input type="text" (click)="showMyContainer=!showMyContainer" placeholder="Enter your promo code"/>
        <div class="button-apply"><ion-icon name="chevron-forward-outline"></ion-icon></div>
      </ion-row>
      <ion-row class="offer-card">
        <ion-col size="3">
          <h1>10</h1>
          <h1>
            <span>%</span>
            <span>off</span>
          </h1>
        </ion-col>
        <ion-col size="5">
          <strong>Personal offer</strong>
          <small>NewUser</small>
        </ion-col>
        <ion-col size="4">
          <ion-button class="btn-primary">Apply</ion-button>
        </ion-col>
      </ion-row>
      <ion-row class="offer-card">
        <ion-col size="3">
          <h1>10</h1>
          <h1>
            <span>%</span>
            <span>off</span>
          </h1>
        </ion-col>
        <ion-col size="5">
          <strong>New year offer</strong>
          <small>NewYear</small>
        </ion-col>
        <ion-col size="4">
          <ion-button class="btn-primary">Apply</ion-button>
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>