h2{margin: 15px 10px;font-size: 18px;}
ion-col{padding: 0;align-self: center;}
.add-btn,.remove-btn{background: transparent;box-shadow: 0 5px 10px #ccc;border-radius: 50%;width: 30px;height: 30px;padding: 0;vertical-align: middle;background-color: #fff;}
.add-btn ion-icon,.remove-btn ion-icon{font-size: 20px;}
.add-btn{margin-left: 10px;}
.remove-btn{margin-right: 10px;}