<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-router-link href="dashboard"><ion-icon name="chevron-back"></ion-icon></ion-router-link>
    <strong>Brands</strong>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row class="search-bar">
    <ion-icon name="search-outline"></ion-icon><ion-input placeholder="Search"></ion-input>
  </ion-row>
  <ion-row class="custom-box">
    <label><input type="checkbox"><p><span>adidas</span><small><ion-icon name="checkmark-outline"></ion-icon></small></p></label>
  </ion-row>
  <ion-row class="custom-box">
    <label><input type="checkbox"><p><span>adidas Originals</span><small><ion-icon name="checkmark-outline"></ion-icon></small></p></label>
  </ion-row>
  <ion-row class="custom-box">
    <label><input type="checkbox"><p><span>Blend</span><small><ion-icon name="checkmark-outline"></ion-icon></small></p></label>
  </ion-row>
  <ion-row class="custom-box">
    <label><input type="checkbox"><p><span>Boutique Moschino</span><small><ion-icon name="checkmark-outline"></ion-icon></small></p></label>
  </ion-row>
  <ion-row class="custom-box">
    <label><input type="checkbox"><p><span>Champion</span><small><ion-icon name="checkmark-outline"></ion-icon></small></p></label>
  </ion-row>
  <ion-row class="custom-box">
    <label><input type="checkbox"><p><span>Diesel</span><small><ion-icon name="checkmark-outline"></ion-icon></small></p></label>
  </ion-row>
  <ion-row class="custom-box">
    <label><input type="checkbox"><p><span>Jack & Jones</span><small><ion-icon name="checkmark-outline"></ion-icon></small></p></label>
  </ion-row>
  <ion-row class="custom-box">
    <label><input type="checkbox"><p><span>s.Oliver</span><small><ion-icon name="checkmark-outline"></ion-icon></small></p></label>
  </ion-row>

  <ion-row class="bottom-fix-bar">
    <ion-col>
      <ion-button class="btn-bordered">Discard</ion-button>
    </ion-col>
    <ion-col>
      <ion-button class="btn-primary">Apply</ion-button>
    </ion-col>
  </ion-row>
</ion-content>