ion-toolbar{height: initial;}
.filters ion-item{background: #f4f4f4;--inner-border-width:0px !important}
.product-image{background-color: #fff;border-radius: 5px;height: 160px;overflow: hidden;}
.product{width: 100%;position: relative;}
.product img{object-fit: cover;width: 100%;height: 100%;}
.filters{font-size: 14px;}

/*common*/
h2{margin: 15px 10px;font-size: 18px;}