<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-row>
      <ion-col>
        <ion-router-link href="tabs/browse"><ion-icon name="chevron-back-outline"></ion-icon></ion-router-link>
        <img src="../../assets/logo.png" class="logo" />
      </ion-col>
      <ion-col></ion-col>
      <ion-router-link href="/tabs/search">
        <ion-icon name="search-outline" class="header-search"></ion-icon>
      </ion-router-link>
    </ion-row>
    <ion-row class="filters">
      <ion-col size="5">
        <ion-item>
          <ion-label><ion-icon name="funnel-outline"></ion-icon>Sort</ion-label>
          <ion-select value="notifications" interface="action-sheet">
            <ion-select-option value="popular">Popular</ion-select-option>
            <ion-select-option value="newest">Newest</ion-select-option>
            <ion-select-option value="review">Customer review</ion-select-option>
            <ion-select-option value="low-price">Price: low to high</ion-select-option>
            <ion-select-option value="high-price">Price: high to low</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size="5">
        <ion-router-link href="/tabs/filter"><ion-icon name="filter-outline"></ion-icon>Filter</ion-router-link>
      </ion-col>
      <ion-col size="2">
        <ion-icon name="list-outline"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <!-- <h2>Women’s Top</h2> -->
  <ion-row *ngIf="products;else no_products">
    <ion-col *ngFor="let product of products">
      <ion-router-link href="/tabs/product-description">
        <div class="product">
          <div class="product-image">
            <img [src]="serverUrl+'/uploads/images/'+product.image_small" alt="slide" />
            <div class="favourite marked"><ion-icon name="heart"></ion-icon></div>
          </div>
          <div class="product-content">
            <h3>{{product.title}}</h3>
            <span class="product-provider">{{product.sku}}</span>
            <span class="sale">${{(product.price/100)+100}}</span><span class="new-price">${{product.price/100}}</span>
          </div>
        </div>
      </ion-router-link>
    </ion-col>
    
  </ion-row>
  <ng-template #no_products>No Products available</ng-template>
  
  
</ion-content>