h2{margin: 15px 10px;font-size: 18px;}
ion-col{padding: 0;align-self: center;}
.profile-image{width: 70px;display: inline-block;height: 70px;border-radius: 50%;object-fit: cover;margin: 0 10px;}
.profile-menu{color: #222;margin: 10px 15px;display: block;border-bottom: 1px solid #ddd;padding: 7px 0 15px 0;}
.profile-menu span{color:#aaa;font-size: 13px;}
.profile-menu strong{display: table;font-weight: 800;margin-bottom: 3px;}
.user-name{display: inline-block;padding-top: 17px;}
.user-name h5{margin:0;font-weight: 800;}
.user-name span{color:#9B9B9B;font-size: 14px;}
ion-icon{color:#9B9B9B}