/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@font-face{font-family: 'Metropolis-Regular';src: url('assets/fonts/Metropolis-Regular.otf');}
@font-face{font-family: 'Metropolis-Medium';src: url('assets/fonts/Metropolis-Medium.otf');}
@font-face{font-family: 'Metropolis-Bold';src: url('assets/fonts/Metropolis-Bold.otf');}
*{font-family: 'Metropolis-Regular';}
h1,h2,h3,h4,h5,h6,strong{font-family: 'Metropolis-Bold';}

ion-content{--ion-background-color:#f9f9f9;}
.title{margin: 0;font-size: 18px;}

/*product box*/
.favourite{position: absolute;right: 7px;top: 7px;z-index: 5;background: #fff;box-shadow: 0 4px 6px #ddd;;border-radius: 50%;width: 35px;height: 35px;text-align: center;}
.favourite.marked{background: linear-gradient(#FFBE40,#FF6A8F);}
.favourite.marked ion-icon{color: #fff;}
.favourite ion-icon{padding-top: 9px;color: #999;}
.product-content{text-align: left;}
.product-provider{font-size: 11px;color: #9B9B9B;margin: 5px 0 0 0;display: table;line-height: 12px;}
.product-content h3{margin: 0;font-size: 14px;color: #222;}
.price,.sale,.new-price{font-size: 15px;font-weight: 800;font-family: 'Metropolis-Medium';}
.off-label{background: #DB3022;position: absolute;border-radius: 50px;color: #fff;padding: 4px 8px;font-size: 11px;left: 10px;top: 10px;}
.sale{color:#9B9B9B;text-decoration: line-through;margin-right: 5px;font-weight: 400;font-size: 14px;}
.new-price{color:#DB3022;}

/*row view*/
.product-row{position: relative;box-shadow: 0 0 10px #ccc;border-radius: 8px;display: table;width: 92%;margin: 0 auto 30px auto;color: #000;}
.product-row h3{font-size: 16px;margin: 5px 0;}
.product-row .row-review{margin-bottom: 6px;}
.product-row .row-review ion-icon{color:#FFBA49}
.product-row .favourite{right: 20px;bottom: -12px;top: initial;}
.product-row img{border-top-left-radius: 8px;border-bottom-left-radius: 8px;width:100%;height: 100%;object-fit: cover;}
.product-row .row-details,.product-row .row-image{display: inline-block;vertical-align:middle;}
.product-row .row-image{width: 110px;height: 110px;margin-right: 10px;}
.product-row .product-provider{margin:0}

/*header*/
.logo{padding:6px;vertical-align: middle;}
.header-search{padding: 15px 10px;float: right;}
ion-toolbar{--border-width:0px !important;box-shadow:0 0 15px #ddd}
ion-toolbar ion-router-link{vertical-align: middle;padding: 5px 0 5px 5px;color: #000;}
ion-tab-bar{border: none;border-top-left-radius: 15px;box-shadow: 0 0 10px #ccc;border-top-right-radius: 15px;height: 55px;}
ion-tab-bar ion-icon{font-size:25px;color: #9B9B9B;}

/*filters*/
.filters .item-native{padding: 0 !important;background: transparent !important;}

/*bottom fix bar*/
.bottom-fix-bar{position: fixed;left: 0;bottom:0;box-shadow: 0 0 10px #ccc;width: 100%;background-color: #fff;padding: 10px;}
.btn-primary{--background:linear-gradient(150deg,#FFBE40,#FF6A8F);--box-shadow: 0 4px 8px rgba(0,0,0,0.25);width: 100%;--border-radius:5px}
.btn-secondary{--background:#fff;--box-shadow: 0 4px 8px rgba(0,0,0,0.25);color:#000;width: 100%;--border-radius:5px}
.btn-bordered{--background:#fff;border:1px solid #222;color:#000;width: 100%;border-radius:5px}

/*product detail page*/
.productslider .swiper-pagination{display: none;}