<ion-header [translucent]="true">
  <ion-toolbar>
      <ion-input placeholder="Search for products, brands and more"></ion-input>
      <ion-router-link class="back" href="tabs/fashion"><ion-icon name="chevron-back-outline"></ion-icon></ion-router-link>
      <ion-icon name="search-outline" class="header-search"></ion-icon>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-row class="related-search">
    <ion-col size="12" style="font-size: 18px;font-weight: 500;">Related Search</ion-col>
    <ion-col size="12">
      <ion-router-link class="tags" href="tabs/fashion">Mobile</ion-router-link>
      <ion-router-link class="tags" href="tabs/fashion">Laptops</ion-router-link>
      <ion-router-link class="tags" href="tabs/fashion">Shoes</ion-router-link>
      <ion-router-link class="tags" href="tabs/fashion">Shirt</ion-router-link>
      <ion-router-link class="tags" href="tabs/fashion">TV</ion-router-link>
      <ion-router-link class="tags" href="tabs/fashion">Fridge</ion-router-link>
    </ion-col>
  </ion-row>
</ion-content>