<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-row>
      <ion-col size="10">
        <ion-router-link href="tabs/browse"><ion-icon name="chevron-back-outline"></ion-icon></ion-router-link>
        <img src="../../assets/logo.png" class="logo" />
      </ion-col>
      <ion-col size="2">
        <ion-router-link href="/tabs/search">
          <ion-icon name="search-outline" class="header-search"></ion-icon>
        </ion-router-link>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <h2>Favorites</h2>
  <div class="product-row">
    <ion-row>
      <ion-col size="5">
        <ion-router-link href="/tabs/product-description">
          <div class="col-image" style="background-image: url(../../../assets/product/dress.png);">
            <span class="off-label">20%</span>
          </div>
        </ion-router-link>
      </ion-col>
      <ion-col size="7" style="padding:10px 0;min-height: 122px;">
        <ion-icon class="close-icon" name="close-outline"></ion-icon>
        <h3>T-Shirt SPANISH</h3>
        <span class="comapny-name">LIME</span>
        <p>
          <span class="product-label">Color:</span><span class="product-label-detail">Black</span>
          <span class="product-label ml-10">Size:</span><span class="product-label-detail">L</span></p>
        <ion-row style="padding-top: 6px;">
          <ion-col size="4">
            <span class="price">$140</span>
          </ion-col>
          <ion-col size="8" class="review-rating">
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star-half-outline"></ion-icon>
            <span class="star-overview">(4.5)</span>
          </ion-col>
        </ion-row>
      </ion-col>
      <div class="fav-bag">
      <ion-icon name="bag"></ion-icon></div>
    </ion-row>
  </div>
</ion-content>