<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-row>
      <ion-col size="10">
        <ion-router-link href="tabs/browse"><ion-icon name="chevron-back-outline"></ion-icon></ion-router-link>
        <img src="../../assets/logo.png" class="logo" />
      </ion-col>
      <ion-col size="2">
        <ion-router-link href="/tabs/search">
          <ion-icon name="search-outline" class="header-search"></ion-icon>
        </ion-router-link>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <h2>My Orders</h2>
  <ion-card>
    <ion-row style="padding-bottom: 15px;">
      <ion-col>
        <span class="font-bold">Order No:1947034</span>
      </ion-col>
      <ion-col style="text-align: right;">
        <span>05-12-2019</span>
      </ion-col>
    </ion-row>
    <ion-row style="padding-bottom: 15px;">
      <ion-col>
        <span class="product-label">Tracking number:</span><span class="product-label-detail font-bold">IW3475453455</span>
      </ion-col>
    </ion-row>
    <ion-row style="padding-bottom: 25px;">
      <ion-col>
        <span class="product-label">Quantity:</span><span class="product-label-detail">3</span>
      </ion-col>
      <ion-col>
        <span class="product-label">Total Amount:</span><span class="price">$30</span>
      </ion-col>
    </ion-row>
    <ion-row style="padding-bottom: 15px;">
      <ion-col>
        <ion-router-link class="details-btn" href="tabs/orderdetail">Details</ion-router-link>
      </ion-col>
      <ion-col style="text-align: right;">
        <span class="delivered">Delivered</span>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>